{% extends 'base.html' %}
{% load static %}

{% block title %}Registro{% endblock %}

{% block styles %}
<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  body {
    background: #fafafa;
  }

  .input-field input[type="date"]:focus+label,
  .input-field input[type="text"]:focus+label,
  .input-field input[type="email"]:focus+label,
  .input-field input[type="password"]:focus+label {
    color: #b71c1c;
  }

  .input-field input[type="date"]:focus,
  .input-field input[type="text"]:focus,
  .input-field input[type="email"]:focus,
  .input-field input[type="password"]:focus {
    border-bottom: 2px solid #b71c1c;
    box-shadow: none;
  }

  .checkbox-field label {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .checkbox-field input[type="checkbox"] {
    position: relative;
    opacity: 0;
  }

  .register-btn {
    margin-top: 20px;
  }
</style>
{% endblock styles %}

{% block content %}
<div class="container">
  <main>
    <center>
      <h5 class="blue-text darken-4">Por favor, faça o registro de uma nova conta!</h5>
      <div class="container">
        <div class="grey lighten-4 row"
          style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #ddd; width: 60%;">
          <form class="col s12" method="post">
            <div class="row">
              {% if message is not None %}
              <div class="alert card {{ message.color }} darken-4 white-text text-darken-3">{{ message.text }}</div>
              {% endif %}
              {% csrf_token %}
              {% for f in form %}
                <div class="input-field">
                  <label>{{ f.label }}</label>
                  {% if f.name == 'role' %}
                    <div class="checkbox-field">
                      {% for choice in f %}
                      <label>
                          {{ choice.tag }}
                          <span>{{ choice.choice_label }}</span>
                        </label>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ f }}
                  {% endif %}
                  {% for error in f.errors %}
                    <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                  {% endfor %}
                </div>
              {% endfor %}
              <div class="row">
                <label style="float: right">
                  <a class="red-text darken-3" href="#!"><b>Forgot Password?</b></a>
                </label>
              </div>
              <center>
                <div class="row register-btn">
                  <button type="submit" name="btn_register" class="col s12 btn btn-large waves-effect blue darken-3">
                    {{ button_text }}
                  </button>
                </div>
              </center>
            </div>
          </form>
        </div>
      </div>
    </center>
  </main>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock scripts %}
