{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {%block styles %} {% endblock %}
    <title>Desapego - {% block title %} {% endblock %}</title>
  </head>
  <body>
    <header>
      <nav class="navbar extend-navbar">
        <div class="nav-wrapper blue darken-3">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <a href="#" class="brand-logo">
                  Desa<i class="material-icons">flight_takeoff</i>pego
                </a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  {% if user.is_authenticated %}
                  <li><a href="">Doações</a></li>
                  <li><a href="">Minhas Doações</a></li>
                  <li><a href="">Receber Doações</a></li>
                  <li><a href="">Perfil</a></li>
                  <li><a href="{% url 'logout' %}">Sair</a></li>
                  {% else %}
                  <li><a href="{% url 'register' %}">Registrar-se</a></li>
                  {% endif %} {% comment %}
                  <li><a href="">Mensagens</a></li>
                  <li><a href="">Notificações</a></li>
                  <li><a href="">Ajuda/FAQ</a></li>
                  {% endcomment %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% block content %}{% endblock %}
    <footer
      class="blue darken-3"
      style="position: fixed; bottom: 0; width: 100%"
    >
      <div class="blue darken-4 white-text" style="padding: 10px">
        <div class="container">
          <div class="row">
            <div class="col s12">
              © 2023 Copyright
              <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
