{% extends 'base.html' %}

{% block title %}
    Detalhes
{% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
        {% for donation in donations %}
        <div class="col m6">
            <div class="card">
                {% if donation.picture %}
                <div class="card-image">
                    <img src="{{ donation.picture.url }}" alt="{{ donation.name_of_object }}">
                </div>
                {% endif %}
                <div class="card-action">
                    <span class="text-black h3" style="font-weight: bold; font-size: 28px;">{{ donation.name_of_object }}</span>
                    <p>{{ donation.description }}</p>
                </div>
                <div class="card-action">
                    <span>Categoria: {{ donation.get_category_display }}</span>
                    <span class="right">{{ donation.created_at|date:"d/m/Y" }}</span>
                </div>
                {% if user.is_authenticated %}
                <div class="card-action">
                    <a href="{% url 'like_donation' donation_id=donation.id %}">
                        <span class="right">{{ donation.likes.count }} Likes</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col m6">
            <h2 class="subtitulo">Entrar em Contacto</h2>
            <div>
                <img class="responsive-img circle" src="{{donation.user.picture.url}}" style="width: 200px; margin-bottom: 20px;">
                <p>Doador: {{donation.user}}</p>
                <p>Status: {{donation.get_status_display }}</p>
            </div>
            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <textarea id="textarea1" class="materialize-textarea"></textarea>
                          <label for="textarea1">Messagem</label>
                        </div>
                      </div>
                    </form>
                  </div>                
                  </div>
                </form>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
    